################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApolloTilesCreator/bin/Debug
/ApolloTilesCreator/obj/Debug
*.suo
/ApolloTilesCreator/bin/Release
/ApolloTilesCreator/obj/Release
